




        <div class="row">
          <div class="col-md-4" *ngFor="let m of listMenus">
            <div *ngIf="m.approved">
             <!-- <div *ngIf="m.mark == 0"> -->  

              <div class="card" style="width: 18rem;">
                <img src="../../assets/product1.jpg" class="card-img-top" alt="..." width="20" height="80
                ">
                <div class="card-body">
                  <h5 class="card-title">{{m.title}}</h5>
                  <a [routerLink]="['/menu/details', m.id]">Details</a>
                  <button (click)="Rserve(m)">Reserve</button>
                </div>
              </div>
            </div>
          </div>
        </div>







